.navbar-brand img{
	width: 70%;
}
.carousel-indicators li{
	width: 10px;
	height: 10px;
	border:3px double #fff;
	border-radius: 50%;
}
.border-style{
	border: 2px solid #3bc703;
	border-radius: 6px;
}
.border-rounded{
	border-radius: 5px;
}
.carousel-item{
	margin-right: auto !important;
}
.padding-all-brand{
	padding-left: 100px;
	padding-right: 100px;
}
.circular-tile-brand{
	width: 150px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 50%;
	transform: translate(-50%,-60%);
}
footer ul{
	padding: 0px;
}
footer ul li{
	list-style: none;
	text-align: left;
	color: #fff;
}

@media only screen and (max-width:1200px){
	.padding-all-brand{
		padding-left: 0px;
		padding-right: 0px;
	}
}
